{{!< default}}

    <header id="header" data-url="https://luoleiorg.b0.upaiyun.com/tmp/yasuko/yasuko.jpg" class="home-header blog-background banner-mask lazy {{#if @blog.cover_image}}" style="background-image: url({{@blog.cover_image}}){{else}}no-cover{{/if}}">
        <div class="nav-header-container">
             <a href="{{@blog.url}}" class="svg-logo">
<span class="svg-logo" >
<?xml version="1.0" encoding="UTF-8"?>
<svg width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="background: #000000;">
    <!-- Generator: Sketch 52.2 (67145) - http://www.bohemiancoding.com/sketch -->
    <title>chao</title>
    <desc>Created with Sketch.</desc>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="chao" fill="#1E2326" fill-rule="nonzero">
            <path d="M1.09006592,4.12457373 L6.21632184,4.12457373 L6.21632184,0 L8.95621724,0 L8.95621724,4.12457373 L13.4932483,4.12457373 L13.4932483,6.03955437 L8.95621724,6.03955437 L8.95621724,11.5782676 L14.1708569,11.5782676 L14.1708569,13.4048646 L10.0462832,13.4048646 L10.0462832,19.208729 L14.3181631,19.208729 L14.3181631,20.9469422 L10.0462832,20.9469422 L10.0462832,28.2827912 C10.8319162,28.4595586 11.6715616,28.5970444 12.5652192,28.6952486 C13.4588769,28.7934527 14.4065468,28.8425548 15.408229,28.8425548 L31.9949076,28.8425548 L31.9949076,30.7869967 L14.4654693,30.7869967 C9.61418495,30.86556 6.07883605,29.5790858 3.85942257,26.9275741 C3.40768354,28.3613545 2.12120935,30.0210044 -7.10542736e-14,31.9065238 L-7.10542736e-14,29.6380082 C1.57126618,27.8310521 2.3077972,24.8554668 2.20959305,20.7112523 L2.20959305,15.7617638 L4.68433729,15.7617638 L4.68433729,20.5639461 C4.68433729,21.3495792 4.65978626,22.0664693 4.6106842,22.7146166 C4.56158214,23.3627639 4.49774945,23.9716296 4.41918613,24.5412136 C5.32266418,25.739304 6.33416679,26.6624229 7.45369394,27.3105702 L7.45369394,13.4048645 L0.11784497,13.4048645 L0.11784497,11.5782676 L6.21632184,11.5782676 L6.21632184,6.03955434 L1.09006592,6.03955434 L1.09006592,4.12457373 Z M16.2920662,14.3476243 L30.1977719,14.3476243 L30.1977719,21.5067059 C30.3745393,24.4528299 28.9996814,25.8473287 26.0731982,25.690202 L16.2920662,25.690202 L16.2920662,14.3476243 Z M15.172539,13.5227096 L15.172539,11.7550351 C18.2365081,10.1837689 19.6604681,7.6402818 19.444419,4.12457373 L19.444419,3.32912022 L15.172539,3.32912022 L15.172539,1.35521707 L30.4923843,1.35521707 L30.4923843,7.83669007 C30.5513068,10.7042508 29.1764489,12.0987496 26.3678106,12.0201863 L24.1287563,12.0201863 L24.1287563,10.2230506 L25.808047,10.2230506 C27.281109,10.3212547 27.9587176,9.58472367 27.8408726,8.01345751 L27.8408726,3.32912022 L21.9191632,3.32912022 L21.9191632,4.00672876 C22.2726981,8.70088647 20.0238234,11.8728801 15.172539,13.5227096 Z M25.3661284,23.7162989 C26.9570354,23.8341439 27.7033868,23.0976128 27.6051827,21.5067059 L27.6051827,16.262605 L18.7668104,16.262605 L18.7668104,23.7162989 L25.3661284,23.7162989 Z" id="Shape"></path>
        </g>
    </g>
</svg>
</span>
</a>
        </div>
        <div class="header-wrap">
        <div class="home-info-container">
            <a href="{{@blog.url}}"><h2>Stay before every beautiful thoughts</h2></a>
            <h4>在每一个美好的思想前停留</h4>
        </div>
        <div class="arrow_down" data-offset="-45">
               <a href="javascript:;"></a>
        </div>
    </header>
{{! The main content area on the homepage }}
<main id="main" class="content homepage" role="main">
{{! Each post will be output using this markup }}
{{> "loop"}}
{{!! After all the posts, we have the previous/next pagination links }}

{{!-- {{pagination}} --}}
</main>
