{{!< default}}

{{#post}}
    {{#if feature_image}}
    <img src="{{feature_image}}!wechatsmall" class="wechat-only">
    <header id="header" class="home-header blog-background banner-mask lazy" data-url="{{feature_image}}">
    {{else}}
    <img src="https://luoleiorg.b0.upaiyun.com/blog/yasuko/yasuko-wechat.jpg!" class="hide">
    <header id="header" class="home-header blog-background banner-mask lazy" data-url="https://luoleiorg.b0.upaiyun.com/tmp/yasuko/yasuko.jpg" style="background-image:no-cover">
    {{/if}}

        <div class="nav-header">
        <div class="nav-header-container">
             <a href="{{@blog.url}}" class="back-home">Home</a>
        </div>

        </div>
        <div class="header-wrap" >
            <div class="post-info-container">
                <h2 class="post-page-title ">
                {{title}}
            </h2>
                <time class="post-page-time">{{date format="DD MMMM YYYY"}}</time>
                <span class="post-page-author">{{#author}}{{name}}{{/author}}</span>
                <span class="post-page-tags">
                    {{tags prefix="" separator=" "}}
               </span>
            </div>

        </div>
        <div class="arrow_down">
               <a href="javascript:;"></a>
        </div>
    </header>




<main class="content" id="main-archives" role="main">

    <article class="{{post_class}}">

     <section class="post-content">
     <div class="single-post-inner">
         <article class="archives"></article>
        {{content}}
        <div class="tag-box">
          {{tags prefix="" separator=" "}}
        </div>
        <div class="qr-code">
            <img src="https://encrypt.proxy.is26.com/qr?content={{url absolute="true"}}" alt="">
            <p>扫描二维码,分享此文章</p>
        </div>
     </div>
    </section>


    {{#author}}
                <section class="author">
                 {{#if profile_image}}
            <figure class="author-image">
                <a class="img" href="javascript:;" style="background-image: url('{{profile_image}}')"><span class="hide">{{name}}'s Picture</span></a>
            </figure>
              {{/if}}

            <section class="author-detail">
                <a href="javascript:;">{{name}}</a>
            {{#if bio}}
                 <p>{{bio}}</p>
            {{else}}
                <p>Read <a href="{{url}}">more posts</a> by this author.</p>
            {{/if}}
                <div class="author-meta">
                     {{#if location}}
                    <span class="author-location">{{location}}</span>
                    {{/if}}
                     {{#if website}}
                    <span class="author-link"><a href="{{website}}">{{website}}</a></span>
                    {{/if}}
                </div>

            </section>
        </section>
        {{/author}}




    </article>

          <section class="share">
            <div class="share-icons" id="share-icons">
               <a class="icon-share" href="http://weibo.com/chao1993/">
                    <span class=""><i class="iconfont iconfont-weibo">&#xe607;</i></span>
                </a>
                <a class="icon-share icon-github" href="https://github.com/ChaosTong">
                    <span class=""><i class="iconfont  iconfont-github">&#xe60d;</i></span>
                </a>
            </div>
        </section>
<section class="comment-area yasuko-only" >
<div id="disqus_thread"></div>
</main>
</section>

<script type="text/javascript" src="{{asset "js/prism.js"}}"></script>
{{/post}}

<script src="//cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
<script src="//cdn.bootcss.com/moment.js/2.14.1/moment.min.js"></script>
<script type = "text/javascript"> 
/**
 * 调用ghost API，完成文章归档功能
 * 所需组件：jQuery、moment.js
 * @ldsun.com
 */
jQuery(document).ready(function() {
	//获取所有文章数据，按照发表时间排列
	$.get(ghost.url.api('posts', {
		limit: 'all',
		order: "published_at desc"
	})).done(function(data) {
		var posts = data.posts;
		var count = posts.length;
		for (var i = 0; i < count; i++) {
			//调用comentjs对时间戳进行操作
			//由于ghost默认是CST时区，所以日期会有出入，这里消除时区差
			var time = moment(posts[i].published_at).utcOffset("-08:00");
			var year = time.get('y');
			var month = time.get('M')+1;
			var date = time.get('D');
			if( date<10 ) date = "0"+date;
			var title = posts[i].title;
			var url = "{{@blog.url}}"+posts[i].url;
			//首篇文章与其余文章分步操作
			if (i > 0) {
				var pre_month = moment(posts[i - 1].published_at).utcOffset("-08:00").get('month')+1;
				//如果当前文章的发表月份与前篇文章发表月份相同，则在该月份ul下插入该文章
				if (month == pre_month) {
					var html = "<li><time>"+date+"日</time><a href='"+url+"'>"+title+"</a></li>";
					$(html).appendTo(".archives .list-"+year+"-"+month);
				}
				//当月份不同时，插入新的月份
				else{
					var html = "<div class='item'><h3><i class='fa fa-calendar fa-fw' aria-hidden='true'></i> "+year+"-"+month+"</h3><ul class='archives-list list-"+year+"-"+month+"'><li><time>"+date+"日</time><a href='"+url+"'>"+title+"</a></li></ul></div>";
					$(html).appendTo('.archives');
				}
			}else{
				var html = "<div class='item'><h3><i class='fa fa-calendar fa-fw' aria-hidden='true'></i> "+year+"-"+month+"</h3><ul class='archives-list list-"+year+"-"+month+"'><li><time>"+date+"日</time><a href='"+url+"'>"+title+"</a></li></ul></div>";
				$(html).appendTo('.archives');
			}
		}
	}).fail(function(err) {
		console.log(err);
	});
}); 
</script>